---
apiVersion: v1
kind: Service
metadata:
  name: joomla
  labels:
    app: joomla
  annotations:
    #metallb.universe.tf/address-pool: test-pool
spec:
  selector:
    app: joomla
  type: {{ .Values.service.type }}
  ports:
    - port: {{ include "joomla.service.port" . }}
  {{- if and .Values.service.clusterIP (eq .Values.service.type "ClusterIP") }}
  clusterIP: {{ .Values.service.clusterIP }}
  {{- end }}
  {{- if and .Values.service.loadBalancerIP (eq .Values.service.type "LoadBalancer") }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
  {{- end }}