---
apiVersion: v1
kind: Service
metadata:
  name: joomla
  labels:
    app: joomla
  annotations:
    #metallb.universe.tf/address-pool: test-pool
spec:
  selector:
    app: joomla
  ports:
    - port: {{ .Values.service.port }}
  type: {{ .Values.service.type }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
